/*----------------------------------------*/
/*  Recent Store Style
/*----------------------------------------*/
.recent-store-area {
    text-align: center;
  }
  
  .r-store-item {
    position: relative;
    max-width: 435px;
    display: inline-block;
  }
  
  .rs-item-img {
    margin: 20px 0px;
    display: inline-block;
  }
  
  .rs-item-content {
    width: 100%;
    margin: 30px auto;
    display: inline-block;
    border-top: 1px solid #000000;
  }
  
  .rs-item-content-left {
    float: left;
    width: 30%;
    padding: 30px;
    span {
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
    }
    a {
      font-size: 20px;
      padding: 20px;
    }
  }
  
  .rs-item-content-right {
    float: left;
    width: 70%;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 18px;
    border-left: 1px solid #000000;
    span {
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      color: #565656;
      font-weight: 500;
    }
    h4 {
      font-size: 20px;
      color: #565656;
      font-style: italic;
      font-weight: 400;
      &:hover {
        color: #f9ad81;
      }
    }
  }

/* -------- Recent Store Style END -------------*/






/*----------------------------------------*/

/*   5. Blog-Grid
/*----------------------------------------*/

.blog-top-area-slider {
    margin-top: 100px;
  }
  
  .blog-top {
    .item {
      position: relative;
      padding-bottom: 125px;
    }
    .owl-item img {
      filter: brightness(65%);
    }
    .owl-dots {
      text-align: center;
      float: left;
      position: absolute;
      left: 46%;
      top: 48%;
    }
    .owl-dot {
      position: relative;
      display: inline-block;
      padding: 5px;
      color: $primaryColor;
      &.active {
        margin-right: 70px;
        color: #f9ad83;
        &:after {
          content: "";
          background-color: $primaryColor;
          height: 2px;
          position: absolute;
          width: 60px;
          top: 20px;
          left: 30px;
          transition: height 4s;
        }
      }
    }
  }
  
  .btc-text {
    text-align: center;
    position: absolute;
    background-color: $primaryColor;
    width: 60%;
    margin: 0 auto;
    bottom: 1px;
    padding: 20px;
    left: 20%;
    transition: .5s ease;
    h3 {
      color: #f9ad81;
      padding: 15px 15%;
      margin-bottom: 25px;
      font-size: 38px;
      line-height: 45px;
      font-weight: 400;
      transition: .5s ease;
    }
    p {
      font-size: 14px;
      color: #404040;
      letter-spacing: 2px;
      font-weight: 500;
    }
    a {
      font-size: 13px;
      background-color: #f9ad81;
      color: $primaryColor;
      padding: 15px 30px;
      border-radius: 25px;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
  
  .blog-grid-area {
    text-align: center;
    padding: 25px 0px;
  }
  
  .blog-grid-rs-title h3 {
    font-size: 18px;
    width: 250px;
    margin: 0 auto;
    &:after {
      content: '';
      background-color: #000000;
      height: 2px;
      width: 35%;
      position: absolute;
      top: 15px;
      right: 80px;
    }
    &:before {
      content: '';
      background-color: #000000;
      height: 2px;
      width: 35%;
      position: absolute;
      top: 15px;
      left: 80px;
    }
  }
/*------------Blog-Grid-CSS-END------------*/

/*  6. Blog-list
/*----------------------------------------*/

.blog-list-area {
    text-align: center;
    padding: 25px 0px;
}

.blog-list-rs-title {
    h3 {
        font-size: 18px;
        width: 250px;
        margin: 0 auto;
        &:after {
            content: '';
            background-color: #000000;
            height: 2px;
            width: 30%;
            position: absolute;
            top: 15px;
            right: 80px;
        }
        &:before {
            content: '';
            background-color: #000000;
            height: 2px;
            width: 30%;
            position: absolute;
            top: 15px;
            left: 80px;
        }
    }
    
}


.blog-list-content {
    position: relative;
    width: 100%;
    max-width: 915px;
    margin: 0 auto;
}

.blc-text {
    position: relative;
    margin: 10px auto;
    text-align: left;
    padding: 10px 25px;
    z-index: 1;
}


.blog-list-single {
   
}



.blog-list-single {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f6eff8;
    margin: 15px auto 0px;
    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        bottom: -100%;
        z-index: 1;
        transition: .5s ease;
    }
    img.bls-img {
        position: absolute;
        left: 0;
        top: -100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .5s ease;
    }
    .blc-text {
        span {
            font-family: 'Montserrat';
            font-size: 12px;
            color: #9c9c9c;
            transition: .5s ease;
        
        }
        h4 {
            font-size: 24px;
            font-weight: 400;
            transition: .5s ease;
            &:after {
              content: '\f30b';
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              font-size: 30px;
              color: #f9ad81;
            } 
        }
        p {
            font-family: 'Montserrat';
            font-size: 12px;
            color: #9c9c9c;
            transition: .5s ease;
        }      
    }
    &:hover {
        img.bls-img {
            top: 0%;
        }
        &:before {
            bottom: 0%;
        }
        span {
            color: #fff;
        }
        a {
            h4 {
                color: #fff;
            }
            p {
                color: #fff;
            }
        }
    }
    
}




.blc-text-content {
    text-align: left;
    padding: 30px;
}



.older-newest-btn {
    padding: 20px 0px;
}
.newest-btn {
    float: left;
    position: relative;
    a {
        h5 {
            padding-left: 40px;
            &:before {
                content: '\f30a';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 25px;
                position: absolute;
                left: 0;
                top: 0px;
                color: #f9ad81;
            }
        }
    }
}

.older-btn {
    float: right;
    a {
        h5 {
            padding-right: 30px;
            &:after {
                content: '\f30b';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 25px;
                position: absolute;
                right: 0;
                bottom: 0px;
                color: #f9ad81;
            }
        }
    }
}

/*------------Blog-list-CSS-END------------*/







/*  7. Blog-With-Sidebar
/*----------------------------------------*/
.blog-with-sidebar-area {
    text-align: center;
    padding: 80px 0px;
  }
  
  .blog-with-sidebar-rs-title {
    padding-bottom: 40px;
    h3 {
      font-size: 18px;
      width: 250px;
      margin: 0 auto;
      &:after {
        content: '';
        background-color: #000000;
        height: 2px;
        width: 35%;
        position: absolute;
        top: 15px;
        right: 0px;
      }
      &:before {
        content: '';
        background-color: #000000;
        height: 2px;
        width: 35%;
        position: absolute;
        top: 15px;
        left: 0px;
      }
    }
  }
  
  
  .bs-search-box {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px;
  }
  
  .bsb-input {
    position: relative;
    input[type="search"] {
      border: 1px solid #e6e6e6;
      color: #a6a6a6;
      font-size: 13px;
      font-style: italic;
      height: 38px;
      letter-spacing: 0;
      padding: 0 10px;
      width: 100%;
    }
    button {
      background: transparent none repeat scroll 0 0;
      border: 0 none;
      color: #aaaaaa;
      font-size: 18px;
      position: absolute;
      right: 0;
      top: 3px;
    }
  }
  
  .bs-categories {
    width: 80%;
    margin: 25px auto;
  }
  
  h4.bs-cat-title {
    font-family: 'Josefin Sans';
    text-align: left;
    padding: 10px;
    font-size: 22px;
    text-decoration: underline;
  }
  
  .bs-categories ul {
    list-style-type: none;
    padding: 20px 0px;
    li {
      &.cat-item {
        padding: 6px;
        text-align: left;
      }
      a {
        font-family: $primaryFont;
        font-size: 22px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .bs-calender {
    position: relative;
    margin: 25px auto;
    max-width: 340px;
    &:after {
      content: '';
      background-color: #b2b2b2;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0px;
      bottom: -20px;
    }
    &:before {
      content: '';
      background-color: #b2b2b2;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0px;
      top: -20px;
    }
  }
  
  .month-year {
    position: relative;
    padding: 0px;
    display: block;
    height: 50px;
  }
  
  .bs-month {
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: 20px;
    h4 {
      font-size: 16px;
      &:before {
        content: '<';
       
        
      }
      &:after {
        content: '>';
       
        
      }
    }
  }
  
  .bs-year {
    position: relative;
    width: 50%;
    float: right;
    h4 {
      font-size: 16px;
      &:before {
        content: '<';
      }
      &:after {
        content: '>';
      }
    }
  }
  
  .week-area ul {
    list-style-type: none;
    padding: 0px;
    text-align: left;
    border: 1px solid #abacae;
    li {
      display: inline-block;
      width: 12.5%;
      color: #000000;
      font-size: 16px;
      text-align: center;
    }
  }
  
  .days-area ul {
    list-style-type: none;
    padding: 0px;
    text-align: left;
    li {
      display: inline-block;
      width: 12.5%;
      text-align: center;
      font-size: 14px;
      color: #000000;
    }
  }
  
  
  .pi-title {
    padding: 20px 0px;
    h4 {
      font-size: 21px;
      font-style: italic;
      font-weight: 500;
    }
  }
  
  .pi-content {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    min-height: 100px;
  }
  
  .pic-img {
    width: 20%;
    float: left;
  }
  
  .pic-text {
    width: 80%;
    margin-left: 20%;
    text-align: left;
    padding: 0px 10px 15px;
    h5 {
      font-size: 14px;
      font-style: italic;
    }
    p {
      font-size: 13px;
    }
  }
  
  .newsletter-area {
    padding: 50px 0px;
  }
  
  .newsletter-text {
    p {
      font-size: 15px;
    }
    h5 {
      font-size: 22px;
      padding: 20px 0px;
      font-weight: 500;
    }
  }
  
  .newsletter-area {
    form {
      input {
        width: 65%;
        margin: 30px auto;
      }
      a {
        font-size: 14px;
        background-color: #f9ad81;
        color: $primaryColor;
        padding: 15px 35px;
        border-radius: 25px;
        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
    .form-control {
      display: block;
      text-align: center;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border-top: 1px solid $primaryColor;
      border-right: 1px solid $primaryColor;
      border-left: 1px solid $primaryColor;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    padding: 50px 0px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    margin: 10px;
  }
  
  
  .bws-content {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    &:after {
      content: '';
      background-color: #b2b2b2;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0px;
      bottom: 35px;
    }
  }
  
  
  .bwsc-post-text {
    text-align: left;
    padding: 10px 5px;
    margin-bottom: 50px;
    h4 {
      font-size: 30px;
      font-weight: 400;
    }
    ul {
      list-style-type: none;
      padding: 10px 0px 0px;
      li {
        display: inline-block;
        a {
          font-family: 'Josefin Sans';
          font-size: 14px;
          color: #000000;
          font-weight: 500;
        }
        &:after {
          content: '|';
          padding: 0px 0px 0px 5px;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
    p {
      font-size: 14px;
      color: #000000;
      padding: 15px 0px;
    }
    a {
      font-size: 16px;
      font-weight: 500;
      &.prm:after {
        content: '>';
      }
    }
  }
  
  .bws-pagination .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    float: left;
    border-radius: 4px;
    li {
      display: inline-block;
    }
    > li > {
      a, span {
        position: relative;
        font-family: 'Josefin Sans';
        float: left;
        padding: 6px 12px;
        font-size: 16px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #000000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid rgba(255, 255, 255, 0);
      }
    }
  }
  
  .pagination li a i {
    font-size: 12px;
  }


/*------------Blog-with-sidebar-CSS-END------------*/



/*   8. Blog-Details
/*----------------------------------------*/
.blog-details-head {
    margin-top: 100px;
    background-color: #f1f1f1;
  }
  
  .blog-details-item {
    position: relative;
    padding-bottom: 0px;
    background-color: #f1f1f1;
  }
  
  .bdi-pagination {
    width: 100%;
    a {
      &.prev {
        float: left;
        font-size: 14px;
      }
      &.next {
        float: right;
        font-size: 14px;
      }
    }
  }
  
  .bsp-head-text {
    padding: 50px 0px 0px;
  }
  
  .bsp-ht {
    position: relative;
    text-align: center;
  }
  
  .bsp-ht-content {
    position: relative;
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
    top: -180px;
    background-color: $primaryColor;
    padding: 40px 0px;
    p {
      width: 100%;
      padding: 5px;
      color: #000000;
      font-size: 14px;
    }
    h6 {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
    }
    h3 {
      color: #000000;
      padding: 15px 15%;
      font-size: 36px;
      font-weight: 400;
      line-height: initial;
    }
    ul {
      list-style-type: none;
      padding: 20px 0px;
      margin: 0px auto 30px;
      li {
        display: inline-block;
        padding: 10px;
        color: #000000;
        i {
          padding: 5px;
        }
      }
    }
  }
  
  .bsp-content-text {
    max-width: 705px;
    margin: 10px auto 100px;
    padding: 0px 15px;
  }
  
  .bsp-author {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 100px;
    img {
      height: 80px;
      width: 80px;
      border-radius: 60%;
      transition: .5s ease;
    }
  }
  
  .bsp-content-text {
    text-align: center;
    p {
      width: 100%;
      margin: 0 auto;
      text-align: left;
      color: #5d5d5d;
      font-size: 16px;
      padding: 20px;
      span {
        color: #000000;
        font-size: 20px;
      }
    }
  }
  
  .line-border {
    position: relative;
    padding: 30px 0px;
    i {
      color: #000000;
      font-size: 30px;
    }
    &:before {
      content: '';
      position: absolute;
      background-color: #000000;
      width: 30%;
      height: 2px;
      top: 40px;
      left: 15%;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: #000000;
      width: 30%;
      height: 2px;
      top: 40px;
      right: 15%;
    }
  }
  
  .bsp-content-text h4 {
    font-family: 'Playfair Display';
    font-style: italic;
    width: 100%;
    margin: 0 auto;
    font-size: 28px;
    line-height: initial;
    font-weight: 100;
    padding: 25px 45px 45px;
  }
  
  .blog-details-bottom {
    width: 80%;
    margin: auto;
  }
  
  .bdb-left {
    width: 70%;
    float: left;
    padding: 10px;
    border-top: 1px solid #000000;
    h5 {
      font-family: 'Raleway', sans-serif;
      width: 200px;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
    }
    ul {
      display: inline-block;
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        a {
          color: #000000;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  
  .bdb-right {
    width: 30%;
    float: right;
    padding: 10px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    h5 {
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
    }
    ul {
      display: inline-block;
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        a i {
          padding: 10px;
          font-size: 16px;
        }
      }
    }
  }
  
  .related-story-area {
    padding: 50px 0px;
  }
  
  .related-story-title {
    text-align: center;
    padding: 80px;
    h3 {
      font-size: 38px;
      font-weight: 400;
    }
  }
  
  .blog-details {
    .item {
      position: relative;
      padding: 20px;
      text-align: center;
      .rs-item-content {
        width: 100%;
        margin: 30px auto;
        border-top: 1px solid #000000;
      }
    }
    .r-store-item {
      width: 80%;
      margin: 0 auto;
    }
    .owl-dots {
      text-align: center;
      float: left;
      position: absolute;
      left: 46%;
      bottom: -70px;
    }
    .owl-dot {
      position: relative;
      display: inline-block;
      padding: 5px;
      color: #000000;
      &.active {
        margin-right: 70px;
        color: #f9ad83;
        &:after {
          content: "";
          background-color: #000000;
          height: 2px;
          position: absolute;
          width: 60px;
          top: 20px;
          left: 30px;
          transition: height 4s;
        }
      }
    }
  }
/*-------Blog-Details-CSS END--------*/






/*----------------------------------------*/
/*  Case Study Style
/*----------------------------------------*/

.single-case-study {
    position: relative;
    max-width: 350px;
    margin: 25px auto;
    .scs-img {
      position: relative;
      img {
        border-radius: 5px;
      }
    }
    .cs-text {
      position: relative;
      h4 {
        font-size: 24px;
        letter-spacing: 0px;
        font-weight: 600;
        line-height: 30px;
        color: #2a2a33;
        margin: 15px auto;
      }
      p {
        font-size: 15px;
        letter-spacing: 0px;
        color: #2a2a33;
        line-height: 24px;
        font-weight: 500;
        margin: 15px auto;
      }
      a {
        font-size: 16px;
        letter-spacing: 0px;
        color: #4e76a4;
        display: inline-block;
        text-decoration: underline;
        &:hover {
          color: #000;
        }
      }
    }
  }


/*------- Case Study Style 1 End -------*/




/*----------------------------------------*/
/*  Blog Style 5
/*----------------------------------------*/

.recent-blog5-area {
    position: relative;
  }
  
  .single-blogV5 {
    position: relative;
    max-width: 540px;
    .sb-img {
      position: relative;
      display: inline-block;
      max-width: 360px;
      img {
        max-width: 360px;
        width: 100%;
      }
    }
    .sb-text {
      position: absolute;
      box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
      padding: 25px;
      display: inline-block;
      top: 50px;
      right: 0;
      max-width: 300px;
      background-color: $primaryColor;
      a.cat {
        font-size: 18px;
        letter-spacing: 0px;
        color: #2a2a33;
        line-height: 24px;
        display: inline-block;
        margin: 5px auto 10px;
        text-decoration: none;
      }
      h4 {
        font-size: 24px;
        letter-spacing: 0px;
        font-weight: 600;
        line-height: 30px;
        a {
          font-size: 24px;
          letter-spacing: 0px;
          font-weight: 600;
          line-height: 30px;
        }
      }
      > a {
        font-size: 16px;
        letter-spacing: 0px;
        color: #000;
        line-height: 24px;
        margin: 15px auto;
        text-decoration: underline;
      }
      p {
        font-size: 16px;
        letter-spacing: 0px;
        color: #000;
        line-height: 24px;
        margin: 15px auto;
      }
    }
  }

/*------- Blog Style 5 End -------*/