/*----------------------------------------*/
/*  Partner Carousel Style
/*----------------------------------------*/

.partner-carousel {
    .owl-nav {
        display: none;
    }
}


/*--------- Partner Carousel Style END ------------*/

/*----------------------------------------*/
/*  Footer 1 Style
/*----------------------------------------*/

.footer-area {
    padding: 50px 0px;
  }
  
  .footer-logo {
    text-align: center;
  }
  
  .footer-menu {
    padding: 15px 0px;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        padding: 5px;
        a, span {
          font-size: 14px;
        }
      }
    }
  }
  
  .footer-social-icon {
    padding: 15px;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        a {
          font-size: 20px;
          padding: 5px;
        }
      }
    }
  }


/*--------- Footer 1 Style END ------------*/



