
/*----------------------------------------*/
/*  Funfact Style 1
/*----------------------------------------*/
.pfsh-counter-area {
    position: relative;
    background: rgba(0, 0, 0, 0) url(../img/bg/bg-counter.jpg) no-repeat fixed center (center / cover);
    padding: 40px 0px;
    &:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
    }
  }
  
  .single-figure {
    text-align: center;
    padding: 25px;
    img {
      padding: 10px;
    }
    i {
      color: #faad81;
      font-size: 70px;
    }
    h2 span {
      font-family: 'Josefin Sans';
      color: #ffffff;
      font-size: 35px;
      font-weight: lighter;
    }
    span {
      color: #ffffff;
      font-size: 18px;
      font-family: 'Raleway', sans-serif;
    }
  }

/*--------- Funfact Style 1 END ------------*/






/*----------------------------------------*/
/*  Funfact Style 3
/*----------------------------------------*/


.pfsh-counter3-area {
    background-image: url('../img/banner/counter-3cup.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 40px 0px;
    margin: 40px auto;
  }
  
  .single-figure3 {
    text-align: center;
    padding: 30px 0px;
    h2 {
      padding: 25px 0px;
      span {
        font-family: 'Josefin Sans';
        font-size: 48px;
        font-weight: 300;
        color: #222222;
      }
    }
    span {
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      color: #494949;
      font-weight: 500;
    }
  }

/*--------- Funfact Style 3 END ------------*/