/*------- Coming soon CSS Start ------*/
.coming-soon-page {
    position: relative;
  }
  
  .csp-top-area {
    padding: 10px 35px 0px;
  }
  
  .cspage-logo {
    margin-bottom: 10px;
  }
  
  .cspage-social {
    position: relative;
    text-align: right;
    padding-top: 10px;
    ul {
      position: relative;
      list-style: none;
      padding: 0;
      text-align: right;
      li {
        display: inline-block;
        padding: 10px;
        a {
          font-size: 20px;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
  
  .csp-counter-area {
    background-image: url(../img/bg/coming-soon-bg.jpg);
    padding: 100px 30px;
    border: 35px solid #ffffff;
    border-top: none;
    /* height: 100vh; */
    position: relative;
    background-position: center center;
    background-size: cover;
  }
  
  .cspca-text {
    h2 {
      position: relative;
      font-size: 56px;
      line-height: initial;
      color: #ffffff;
      font-weight: 400;
      margin: 50px auto;
      &:after {
        background-image: url(../img/csp-border.png);
        content: "";
        display: block;
        height: 10px;
        margin: auto;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 55px;
      }
    }
    p {
      font-size: 18px;
      color: #fff;
      margin-bottom: 25px;
    }
  }
  
  .single-countdown {
    text-align: center;
    line-height: 40px;
    font-size: 80px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding-top: 45px;
    padding-bottom: 35px;
    margin-bottom: 35px;
    transition: .5s ease;
    span {
      font-size: 24px;
    }
  }
  
  
  .csp-harea {
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
  
  .cspfa-btn {
    text-align: center;
    a {
      display: inline-block;
      background-color: #ffffff;
      padding: 10px 15px;
    }
  }
/*------- Coming soon CSS End ------*/



/* ------ Under-Constratction-css Start ----- */
.under-constraction-page {
    background: rgba(0, 0, 0, 0) url(../img/bg/under-construction.jpg) no-repeat fixed center (center / cover);
  }
  
  .ucp-content {
    text-align: center;
    border: 25px solid #faad83;
    padding: 50px;
  }
  
  .ucpc-icon {
    i, svg {
      font-size: 120px;
      color: #faad83;
      padding: 15px;
    }
  }
  
  .ucpc-stext h2 {
    font-family: Sacramento;
    position: relative;
    font-size: 60px;
    line-height: initial;
    font-weight: 100;
    display: inline-block;
    &:after {
      background-image: url(../img/ucp-shape.png);
      content: "";
      display: block;
      height: 26px;
      margin: auto;
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 100px;
    }
  }
  
  .ucpc-text {
    h2 {
      font-size: 72px;
      line-height: initial;
      font-weight: 400;
      color: #4d4d4d;
      padding: 15px;
      margin: 15px auto;
    }
    p {
      font-size: 24px;
      font-style: italic;
      margin: 20px auto 50px;
    }
  }
  
  .ucpc-btn {
    margin: 50px auto;
    a {
      background-color: #faad83;
      font-size: 14px;
      border-radius: 5px;
      color: #ffffff;
      padding: 15px 25px;
    }
    .hvr-bs:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  
  .ucp-content {
    .input-group-addon {
      border-radius: 0px;
    }
    input {
      &[type=email], &[type=submit] {
        border-radius: 0px;
      }
    }
    .modal-content {
      border-radius: 0px;
    }
  }
  
  .uca-form .form-control {
    color: #faad83;
  }
  
  .ucp-content {
    .bg-primary {
      color: #fff;
      background-color: #faad83;
    }
    .modal-title {
      color: #ffffff;
    }
    .btn-primary {
      color: #fff;
      background-color: #faad83;
      border-color: #faad83;
      &:active:hover {
        background-color: #faad83;
        border-color: #faad83;
      }
    }
    .hvr-bs:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  
  .construct-modal {
    .modal-header {
      background-color: #faad83;
      position: relative;
      padding: 15px;
      display: block;
    }
    h2.modal-title {
      display: block;
      width: 100%;
      font-size: 24px;
      letter-spacing: 0px;
      font-weight: 600;
      line-height: 36px;
    }
    p {
      display: block;
      width: 100%;
      color: #fff;
      font-size: 15px;
      line-height: 25px;
    }
    .modal-header button {
      position: absolute;
      right: 5px;
      top: 0px;
      font-size: 24px;
      background-color: #faad83;
    }
    .modal-content {
      position: relative;
      overflow: hidden;
    }
    .input-group {
      position: relative;
      margin: 20px auto;
      .form-control {
        height: 46px;
        font-size: 16px;
        letter-spacing: 0px;
        font-weight: 300;
      }
      span.input-group-addon {
        font-size: 19px;
        background-color: #e0e0e0;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-right: none;
      }
    }
    input.btn {
      height: 46px;
      margin-bottom: 20px;
      font-size: 18px;
      letter-spacing: 0px;
      font-weight: 400;
      line-height: 24px;
    }
  }
/* ------ Under-Constratction-css Start ----- */