// Responsive


@media only screen and (min-width: 1368px) {
 
}

/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {

}

@media only screen and (min-width: 992px) and (max-width: 1249px) {
    .grid-p2 {
        max-width: 992px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1200px) {

}
@media only screen and (max-width: 1249px) {
    .blog-top .owl-dots {
        display: none;
    }
    
}

@media only screen and (max-width: 1199px) {
    .ihV2 .logo {
        width: 100%;
        margin: 5px auto;
    }
    .ihV2 .logo-box {
        text-align: left;
    }
    .pf4-img-text>a {
        display: block;
    }
    
    .pf4-img-text h4 {
        display: block;
        padding: 5px;
        line-height: 20px;
    }
    
    .pf4-img-text {
        left: 15px;
        transform: unset;
        bottom: 15px;
        white-space: normal;
        margin-right: 15px;
    }
    
    .pf4-img {
        position: relative;
    }
    .portfolio4-area {
        padding: 15px;
    }
    .gridp2-item .portfolio-item {
        margin: 0 auto;
    }
    .blog-top .item {
        padding-bottom: 25px;
    }
    
    .blog-grid-rs-title h3:before,.blog-grid-rs-title h3:after {
        display: none;
    }
    .btc-text {
        position: relative;
        max-width: 690px;
        width: 100%;
        margin: -125px auto 0px;
        bottom: 1px;
        padding: 20px;
        left: unset;
    }
    .testimonial4-area {
        padding-left: 80px;
    }
    
    .about-us5-area {
        padding-left: 80px;
    }
    
    
    
    .recent-blog5-area {
        padding-left: 85px;
    }
    
    .footer-area.ftr-5 {
        padding-left: 85px;
    }
    .hc-4 .hero-text h2 {
        font-size: 44px;
        line-height: 56px;
    }
    
    .hc-4 .hero-text h4 {
        font-size: 24px;
        line-height: 40px;
        margin: 5px auto;
    }
    
    .hc-4 .hero-text p {
        font-size: 20px;
        line-height: 24px;
    }
    
    .hc-4 {}
    
    .heroV5 {
        padding-left: 85px;
    }
    .heroV5 .hero-content {
        margin: 0 auto;
    }
    .testimonial4-carousel .owl-nav {
        right: 0px;
    }

    .single-testimonial4 {
        max-width: 400px;
    }
    .shuffle-box2 {
        max-width: 900px;
        margin: 0 auto;
    }
    .project-img2-overlay a.pi-icon {
        top: 20px;
    }
    .owl-client-says .owl-nav {
        display: none;
    }
    .wpcn-o:after {
        display: none;
    }

}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 992px) and (max-width: 1360px) {

}
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .interior-menu li a {
        padding: 9px !important;
    }
    
    .interior-menu li a.has-submenu {
        padding-right: 15px;
    }
    
    .interior-menu li a.has-submenu:before {
    }
    
    .interior-menu li a.has-submenu span.sub-arrow {
        right: 0px;
    }
    .interior-menu li ul li a.has-submenu span.sub-arrow {
        right: 10px;
    }
    .interior-menu {
        display: inline-block !important;
        margin-top: 25px;
        margin-bottom: 0px;
    }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) {
    .interior-menu {
        display: inline-block !important;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (max-width: 991px) {
    .blog-list-rs-title h3:after,.blog-list-rs-title h3:before {
        display: none;
    }
    .single-countdown {
        line-height: 30px;
        font-size: 60px;
    }
    .single-countdown span {
        font-size: 22px;
    }
    .portfolio1-content .element-item {
        width: 50%;
    }
    .bsp-ht-content {
        top: 0;
    }
    
    .bsp-author {
        position: relative;
        bottom: 38px;
        top: unset;
        left: 0;
        width: 100%;
    }

    .au4-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .section-titleV4 h3 {
        font-size: 28px;
        line-height: 30px;
    }

    .section-titleV4 p {
        font-size: 18px;
        line-height: 24px;
    }

    .au4-img:after {
        display: none;
    }

    .au4-img {
        margin-top: 25px;
    }
    .testimonial4-carousel .owl-nav {
        display: none;
    }
    .project3-text {
        margin: 10% auto;
        padding: 10px;
    }
    .owl-client-says .item .cs-img img {
        display: none;
    }
    
    .owl-client-says .item .cs-img .cs-img-text {
        position: relative;
    }
    
    .owl-client-says .item .cs-img {
        width: 100%;
        max-width: 400px;
        margin: 0px auto;
        float: unset;
    }
    
    .owl-client-says .item .cs-text {
        float: unset;
        margin: 25px auto;
        text-align: center;
    }
    .our-process-area2 {
        margin-top: 0;
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    
    .opa2-b-box {
        display: none;
    }
    
    .our-process2-left {
        position: relative;
    }
    
    .ap2l-img {
        all: unset;
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: block;
    }
    
    .ap2l-img a {
        display: block;
        margin-top: 50px;
    }
    
    .ap2l-text {
        all: unset;
        text-align: center;
        margin: 0px auto;
        position: relative;
        display: block;
        position: absolute;
        top: -50px;
    }
    
    .ap2l-text h4 {
        position: relative;
        font-size: 36px;
        line-height: 50px;
        font-weight: 400;
    }
    
    .ap2r-img {
        position: relative;
        width: 100%;
    }
    
    .ap2r-text {
        position: relative;
        padding: 0;
        margin: 10px auto;
    }
    
    .ap2r-title {
        all: unset;
        margin-bottom: 20px;
        position: relative;
    }
    
    .ap2r-title h2 {
        font-size: 36px;
    }

    .about-us-area-2 {
        padding-top: 25px;
    }
    
    .au2-left {
        width: 100%;
        margin-top: 0px;
    }
    
    .au2-right {
        width: 100%;
        margin-top: 0px;
    }
    .project2-area {
        padding-top: 0px;
    }
    .owl-client-says .owl-dots {
        display: none;
    }

    .hero-content {
        padding-top: 60px;
    }
    
    .hero-content h2 {
        font-size: 44px;
        letter-spacing: 0px;
        line-height: 60px;
    }
    
    .footer-social-icon {
        padding: 15px 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .grid-p2 {
        max-width: 768px;
        margin: 0 auto;
    }
    .week-area ul li {
        width: 11.5%;
    }

    .days-area ul li {
        width: 11.5%;
    }

    .bs-calender {}

    .blog-sidebar {
        position: relative;
        padding: 5px;
    }
    .pic-text h5 {
        line-height: 16px;
    }
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 767px) {
    .logo-box {
        text-align: left;
    }
    
    .logo-box a.logo {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .cspage-logo,.cspage-social {
        text-align: center;
    }

    .cspage-social ul {
        text-align: center;
    }
    .cspage-logo {
        margin-bottom: 0px;
    }
    .cspage-social {
        margin-bottom: 10px;
    }
    .gridp3-item .portfolio-item {
        position: relative;
        margin: 0 auto;
    }
    .portfolio3-area {
        padding: 15px;
    }
    .bws-content {
        position: relative;
        max-width: 290px;
        overflow: hidden;
        margin: 25px auto;
        text-align: center;
    }
    .bwsc-post-text h4 {
        font-size: 22px;
        line-height: 30px;
    }
    
    .bwsc-post-text ul li a {
        letter-spacing: 0px;
        line-height: 20px;
        display: inline-block;
    }
    
    .bwsc-post-text ul li {
        position: relative;
        line-height: 20px;
    }
    
    .bwsc-post-text p {
        padding: 10px 0px;
    }
    .blog-with-sidebar-rs-title h3:before,
    .blog-with-sidebar-rs-title h3:after {
        display: none;
    }
    .blog-sidebar {
        position: relative;
        max-width: 350px;
        margin: 0 auto;
    }
    .ssa-text h3 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .ssa-text {
        margin-bottom: 25px;
    }
    .smr-title h2 {
        margin-top: 25px;
    }
    .btc-text {
        margin: 0 auto;
    }
    
    .btc-text h3 {
        padding: 25px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    .bdb-left {
        width: 100%;
        text-align: center;
    }
    
    .bdb-right {
        width: 100%;
        border-left: none;
        text-align: center;
    }
    .bsp-ht-content h3 {
        font-size: 28px;
        line-height: 40px;
    }
    .heroV5 .hero-content .hero-text h3 {
        font-size: 36px;
        line-height: 44px;
    }
    
    .heroV5 .hero-content .hero-text h4 {
        font-size: 22px;
        line-height: 30px;
    }
    
    
    .heroV5 .hero-content .hero-text {
        text-align: center;
    }
    
    .au5-text {
        margin: 0 auto !important;
    }
    
    .single-blogV5 .sb-img {
        margin-bottom: 25px;
    }
    .hc-4 .hero-text h4 {
        font-size: 18px;
        line-height: 28px;
        margin: 5px auto;
    }
    .hc-4 .hero-text h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .hc-4 .hero-text p {
        font-size: 16px;
        line-height: 20px;
    }
    .hero4-carousel .owl-nav {
        display: none;
    }
    .au3-ltext-box {
        float: unset;
        width: 100%;
        margin: 25px auto;
        overflow: hidden;
    }
    
    .about-us3-content-left {
        padding-top: 20px;
    }
    
    .why-choose-us-area {
        padding: 15px;
    }
    
    .team3-title span {
        font-size: 50px;
        line-height: 60px;
    }
    
    .team3-title h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    
    .project2-area-title h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .about3-title {
        max-width: 400px;
        margin: 25px auto;
        text-align: center;
    }
    
    .about3-title h3 {
        font-size: 36px;
        line-height: 40px;
    }
    
    .about3-title p {
        line-height: 24px;
    }
    
    .why-choose-right {
        margin: 25px auto;
    }
    .about-us3-area {
        margin-bottom: 0px;
    }
    .about-us3-content {
        margin: 25px auto;
    }
    .ihV3.navbar-fixed-top ul#interiorMenuV1 {
        top: 85px !important;
    }
    .cfa-title p:after {
        display: none;
    }
    .cfa-title {
        text-align: center;
        padding: 15px;
    }
    .interior-menu {
        position: fixed !important;
        top: 65px !important;
        left: 0px !important;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100% !important;
        height: 350px;
        overflow-y: scroll;
        cursor: pointer;
    }
    .ihV3 .interior-menu-wrapper #interiorMenuV1 {
        top: 115px !important;
    }
    .ihV3 .interior-menu li a {
        color: #fff;
    }
    .interior-menu li {
        text-align: center;
    }
    
    .interior-menu li a {
        display: block;
    }
    
    .interior-menu li a:hover {
        background-color: rgba(0, 0, 0, .25);
    }
    .interior-header.navbar-fixed-top .logo-box {
        margin: 5px 0px;
    }
    .interior-header.navbar-fixed-top .interiorMenuV1-btn {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .about-us-content {
        max-width: 300px;
        margin: 15px auto;
    }
    .about-us-content-2 {
        position: relative;
        margin-bottom: 25px;
    }
    .footer-area {
        padding-bottom: 10px;
    }
    .shuffle-filter-btn {
        display: inline-block;
        margin-bottom: 30px;
    }
    .project-o-icon a {
        font-size: 16px;
    }
    
    .project-text h4 {
        font-size: 11px;
        letter-spacing: 0px;
    }
    .hero-content h2 {
        font-size: 34px;
        letter-spacing: 0px;
        line-height: 44px;
    }
    .section-padding {
        padding: 40px 0px;
    }
    .section-titleV1 h2 {
        font-size: 36px;
        letter-spacing: 0px;
        line-height: 44px;
    }
    .testimonial-area {
        padding: 10px;
    }
    .porfolio-style-1 .sbox_V1 .single-shuffle {
        margin: 0px !important;
    }
    .ihV2 .logo-box {
        text-align: left;
    }
    
    .ihV2 .interiorMenuV1-btn-icon:before, 
    .ihV2 .interiorMenuV1-btn-icon:after {
        background-color: #000;
    }
    
    .ihV2 .interiorMenuV1-btn .interiorMenuV1-btn-icon {
        background-color: #000;
    }
    
    .ihV2 .interiorMenuV1-btn {
        margin-top: 13px;
        margin-bottom: 8px;
    }
    .ihV2 ul#interiorMenuV1 {
        margin-top: 13px;
    }
    .ihV2 .interior-menu li a {
        color: #fff;
    }
    .hero2-text h2 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 0px;
        padding-top: 10px;
        margin-top: 15px;
    }
    
    .hero2-text p {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 20px;
        max-width: 600px;
        width: 100%;
    }
    .hero2-text {
        margin: 0 auto;
    }
    
    .h2t-bback {
        width: 100%;
        padding: 10px;
    }
    .hero3-text h2 {
        font-size: 36px;
        line-height: 44px;
    }
    
    .hero3-text p {
        font-size: 20px;
        line-height: 30px;
    }
    .about-us5-area {
        padding-left: 85px;
    }
    .portfolio-slide-area,
    .recent-blog5-area {
        padding-left: 85px;
    }
    .logo {
        margin-left: 85px;
    }
    
    .single-blogV5 .sb-text {
        position: relative;
        top: 0;
        width: 100%;
        max-width: 360px;
    }
    
    .single-blogV5 .sb-img {
        margin-bottom: 0px;
    }
    
    .single-blogV5 {
        max-width: 360px;
        margin: 0 auto 30px;
    }
    .about-us5-area .au5-text {
        padding: 0px;
    }
    .ihV3 .logo-box {
        text-align: left;
    }
    
    .ihV3 .logo-box a.logo {
        display: block;
        margin: 0 auto;
    }
    .all-cpage-stitle h3 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .all-cpage-stitle {
        padding: 25px 25px 40px;
    }
    .about-us-details-section .single-figure:after {
        display: none;
    }
    .team3-content {
        max-width: 480px;
        margin: 0 auto;
    }
    .aud-text p:before {
        display: none;
    }
    
    .aud-text p {
        padding: 0px;
    }
    
    .aud-text {
        text-align: center;
    }
    
    .aud-title {
        text-align: center;
    }
    
    .aud-title h4:after {
        display: none;
    }
    .aud-text h3 {
        font-size: 36px;
        line-height: 44px;
        padding-top: 0px;
    }
    
    .all-cpage-stitle h3 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .all-cpage-stitle {
        margin-bottom: 40px;
        margin-top: 90px;
    }
    .ihV3.navbar-fixed-top .interior-menu-wrapper {
        margin-top: 10px;
    }
    .ucpc-text h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    .ucpc-text p {
        font-size: 16px;
        line-height: 20px;
        color: #000;
        margin-bottom: 25px;
    }
    
    .ucpc-text {
        position: relative;
        max-width: 380px;
        margin: 0 auto;
    }
    
    .ucaform-show {
        max-width: 400px;
        margin: 0 auto;
    }
    
    .ucpc-btn {
        margin: 25px auto;
    }
    
}

@media only screen and (max-width: 499px) {
    .ihV2 .logo-box .logo img {
        max-width: 110px;
        margin: 12px auto;
    }
    .construct-modal {
        top: 25px;
    }
    .ucp-content {
        padding: 15px;
    }
    .cspca-text h2 {
        font-size: 44px;
        margin: 10px auto 35px;
    }
    .cspage-logo {
        margin-top: 15px;
    }
    .cspage-social {
        margin-bottom: 0px;
    }
    .single-countdown {
        line-height: 30px;
        font-size: 26px;
        padding: 15px 0px;
    }
    .single-countdown span {
        font-size: 12px;
        line-height: 20px;
    }
    .csp-counter-area {
        border: 10px solid #fff;
    }
    .portfolio1-content .element-item {
        width: 100%;
    }
    .btc-text h3 {
        padding: 25px;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0px;
    }
    .bsp-ht-content h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .heroV5 .hero-content .hero-text h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .heroV5 .hero-content .hero-text h3 {
        font-size: 24px;
        line-height: 30px;
    }
    
    
    .partner-carousel .item img {
        max-width: 200px;
        margin: 0 auto;
    }
    .hc-4 .hero-text h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .single-testimonial4 p {
        font-size: 18px;
    }
    .project-talk-form .ptf-head h4 {
        font-size: 22px;
        line-height: 30px;
    }
    
}

@media only screen and (max-width: 374px) {
    
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {
    
}
