/*----------------------------------------*/
/*  Services 1 Style
/*----------------------------------------*/


.single-servicesV1 {
    position: relative;
    max-width: 350px;
    margin: 15px auto;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 25px;
    z-index: 1;
    @include transition(all, .75s, ease);
    &:before {
        position: absolute;
        content: '';
        background-image: url(../img/bg/services-logo-bg.png);
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        @include transition(all, .75s, ease);
    }
    .ss-icon {
        position: relative;
        height: 80px;
        width: 80px;
        background-color: #f15d2b;
        text-align: center;
        border-radius: 5px;
        padding-top: 10px;
        @include transition(all, .75s, ease);
        i {
            font-size: 44px;
            line-height: 60px;
            color: #fff;
            @include transition(all, .75s, ease);
        }
    }
    .ss-text {
        position: relative;
        h4 {
            font-size: 24px;
            letter-spacing: 0px;
            line-height: 36px;
            margin: 15px auto;
            color: #17171a;
            font-weight: 600;
            @include transition(all, .75s, ease);
        }
        p {
            color: #72727c;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin: 12px auto;
            @include transition(all, .75s, ease);
        }
        a {
            color: #403f4a;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 0px;
            font-weight: 500;
            display: inline-block;
        }
    }
    &:hover {
        background-color: #f15d2b;
        .ss-icon {
            background-color: #fff;
            i {
                color: #f15d2b;
            }
        }
        .ss-text {
            h4,
            p,
            a {
                color: #fff;
            }
        }
        
    }
}


/* ---------- Services 1 Style END ---------- */




/*----------------------------------------*/
/*  Services Details Style
/*----------------------------------------*/



.service-details-area {
    position: relative;
}

.sdetails-title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    h3 {
        font-size: 36px;
        letter-spacing: 0px;
        color: #17171a;
        line-height: 40px;
        font-weight: 600;
        margin: 15px auto;
    }
}

.service-details-text {
    position: relative;
    margin-bottom: 40px;
    p {
        font-size: 16px;
        color: #17171a;
        line-height: 22px;
        margin: 15px auto;
    }
}

.sdetails-img {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 40px;
}


ul.sp-list {
    li {
        font-size: 16px;
        color: #17171a;
        line-height: 22px;
        margin: 5px auto;
        letter-spacing: 0px;
    }
}
/* ---------- Services Details Style END ---------- */












/*----------------------------------------*/
/*  Service Page Style
/*----------------------------------------*/

.wwd-title {
    text-align: center;
    padding: 30px 0px;
    margin: 35px;
    h2 {
      font-size: 48px;
      font-weight: 400;
      &:before {
        content: "|";
        display: inline-block;
        margin-right: 15px;
        transform: rotate(25deg);
        color: #faad81;
      }
    }
  }
  
  .services-main {
    margin: 60px auto;
  }
  
  
  .smr-title {
    h2 {
      position: relative;
      font-size: 48px;
      line-height: initial;
      font-weight: 400;
      margin-bottom: 30px;
      &:after {
        content: '';
        position: absolute;
        background: #000000;
        height: 3px;
        width: 35px;
        bottom: -15px;
        left: 0px;
      }
    }
    p {
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 15px;
      color: #181818;
      transition: .5s ease;
    }
  }
  
  .smr-content {
    padding: 40px 0px;
    position: relative;
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .smrc-left {
    max-width: 20%;
    float: left;
    a i {
      font-size: 40px;
    }
  }
  
  .smrc-right {
    h4 {
      font-size: 16px;
      line-height: initial;
    }
    p {
      font-size: 14px;
      color: #696969;
    }
    max-width: 80%;
    float: right;
  }
  
  .smrc-b-border {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      background-color: #000000;
      height: 1px;
      width: 100%;
      left: 0px;
      bottom: 0px;
    }
  }
  
  
  .fl-title h2 {
    font-size: 36px;
    line-height: initial;
    margin: 25px 0px;
    font-weight: 500;
  }
  
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #fff;
  }
  
  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #f4f4f4;
    border-color: #EEEEEE;
  }
  
  .panel-title {
    font-size: 14px;
    > a {
      display: block;
      padding: 15px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      transition: .5s ease;
    }
  }
  
  .more-less {
    float: right;
    color: #212121;
  }
  
  .panel-default > .panel-heading {
    + .panel-collapse > .panel-body {
      border-top-color: #fff;
    }
    a[aria-expanded="true"] {
      background-color: #fff;
    }
  }
  
  .faq-left {
    position: relative;
    padding: 40px 0px;
  }
  
  .fl-accordion {
    position: relative;
    margin: 25px auto;
    .panel {
      margin: 15px auto;
      h4.panel-title a {
        letter-spacing: 0px;
      }
    }
  }
  
  
  .fr-img {
    margin-top: 68px;
  }
  
  .service-subscribe-area {
    background: rgba(0, 0, 0, 0) url(../img/bg/service-subscribe-bg.jpg) no-repeat fixed center (center / cover);
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
    }
  }
  
  .ssa-text {
    margin: 50px auto;
    text-align: center;
    h3 {
      font-size: 36px;
      color: #fff;
      line-height: initial;
      padding: 15px 0px;
      transition: .5s ease;
    }
    p {
      font-size: 18px;
      color: #fff;
    }
  }
  
  .ssa-form {
    margin: 25px auto 80px;
    max-width: 750px;
    .input-group {
      position: relative;
      max-width: 710px;
      margin: 0 auto;
      label {
        color: #fff;
        margin-left: 10px;
        font-size: 18px;
        letter-spacing: 0px;
        margin-right: 10px;
        padding-top: 15px;
        display: block;
        width: 100%;
      }
      input {
        background-color: rgba(0, 0, 0, 0);
        height: 60px;
        color: #fff;
        font-size: 16px;
        letter-spacing: 0px;
        &:focus {
          border-color: #faad83;
        }
      }
      span {
        position: absolute;
        top: 30px;
        display: inline-block;
        right: 20px;
        transition: .5s ease;
      }
      .form-control:focus {
        z-index: 0;
      }
      span button {
        border-radius: 0px;
        background-color: #faad83;
        color: #fff;
        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
  }
  
  .uca-form {
    position: relative;
    width: 100%;
    visibility: hidden;
    &:before {
      content: '';
      position: absolute;
      border: 1px solid #faad83;
      width: 0%;
      visibility: hidden;
      bottom: 0;
      right: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      border: 1px solid #faad83;
      width: 0%;
      bottom: 0;
      visibility: hidden;
      left: 50%;
    }
  }
  
  .ucaform-show {
    visibility: visible;
    &:before, &:after {
      visibility: visible;
      width: 50%;
      transition: width 2s;
    }
  }
  
  .uca-form {
    .input-group .form-control:focus {
      border: none;
      box-shadow: none;
    }
    .form-control {
      text-align: center;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      color: #555;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      box-shadow: none;
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .input-group {
      width: 100%;
    }
  }



/* ---------- Services Page Style END ---------- */