/*----------------------------------------*/
/*  Team Style 1
/*----------------------------------------*/



.team3-title {
  text-align: center;
  margin: 50px 0px;
  h2 {
    font-size: 36px;
    color: #faad83;
    margin: 25px 0px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 82px;
    color: #faad83;
    font-weight: 300;
  }
}

.team3-content {
  position: relative;
  overflow: hidden;
  &:hover .t3m-overlay {
    opacity: 1;
  }
}

.team3-member {
  text-align: center;
}


.team3-author-info {
  text-align: center;
  margin: 15px 0px;
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #faad83;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #7d7d7d;
    font-style: italic;
    font-weight: 500;
  }
  ul {
    padding: 0px;
    li {
      font-family: 'Raleway', sans-serif;
      display: inline-block;
      font-size: 11px;
      a {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        color: #686868;
      }
    }
  }
}

.t3m-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.team3-author-ih {
  text-align: center;
  margin: 100px auto;
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #faad83;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #7d7d7d;
    font-style: italic;
    font-weight: 500;
  }
  ul {
    padding: 0px;
    li {
      font-family: 'Raleway', sans-serif;
      display: inline-block;
      font-size: 11px;
      a {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        color: #686868;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


/*--------- Team Style 1 END ------------*/


/*----------------------------------------*/
/*  Team Page Style 3
/*----------------------------------------*/
.total-team-area {
    margin: 50px auto;
    padding: 50px 0px;
  }
  
  .team-area-content {
    text-align: center;
  }
  
  .team-area-text {
    padding: 20px;
  }
  
  .ta-head {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      border: 8px solid #f2f2f2;
      width: 75%;
      height: 105%;
      right: 5%;
      top: -10px;
      z-index: -29;
    }
    h1 {
      color: #faad83;
      font-size: 50px;
      font-weight: 400;
      span {
        color: #000000;
      }
    }
  }
  
  .ta-text p {
    padding: 15px;
    font-size: 16px;
    color: #6f6d70;
  }
  
  .tac-single {
    position: relative;
    margin: 0 auto 30px;
    text-align: center;
    display: inline-block;
    &:hover .tacs-overlay {
      opacity: 1;
    }
  }
  
  .tacs-overlay {
    position: absolute;
    top: 12px;
    left: 12px;
    height: calc(100% - 24px);
    width: calc(100% - 24px);
    transition: .5s ease;
    opacity: 0;
    background-color: rgba(250, 173, 131, 0.75);
  }
  
  .tacso-text {
    margin-top: 40%;
    h4, p {
      color: #ffffff;
    }
    ul {
      list-style: none;
      padding: 0;
      margin-top: 15%;
      li {
        display: inline-block;
        padding: 10px;
        a i {
          color: #ffffff;
          font-size: 20px;
        }
      }
    }
  }
/*--------- Team Page Style 3 END ------------*/