// Variables

//Font Variables
$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

// Color Variables
$primaryColor: #fff;
$secondaryColor: #101012;
$tertiaryColor: #000;



$elementsColor:#f15d2b;


